/* ÁÀÇÎÂÛÉ ÑÒÈËÜ */
@import "files/basic_style.css";


/* ÊÎÌÏÎÍÎÂÊÀ ÑÒĞÀÍÈÖÛ*/
@import "files/layout_1col.css";
/*@import "files/layout_2col_left.css";*/
/*@import "files/layout_2col_right.css";*/

/* ÖÂÅÒÎÂÀß ÑÕÅÌÀ */
/*@import "files/color_08_orange.css";*/

/* My Style */
html {
  min-width: 1120px;
}
#wrap {
  background: #fff;
  position: relative;
  width: 900px;
  height: auto;
  margin: 10px auto 10px;
  border: solid #c4c9d1 2px;
  border-radius: 5px;
  z-index: 5;
}

#headertext {
  padding-left: 210px;
}

#headertext h1.hdr {
  margin-top: 0px;
}

#maintext h1 {
  margin-top: 10px;
}

#menu {
  padding-bottom: 5px;
  padding-top: 5px;
}

a[href='#top'] {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

a.black:visited {
  color: #333;
}

.anchorjs-link {
  font: 18pt "Segoe UI", serif;
  color: black !important;
}
